{{> partials/menu}}
<div class="col-lg-9">
    <div class="col-lg-12">
        <h2>Pedido</h2>
    </div>
    <div class="col-lg-12 search_bar">
        <div class="input-group">
            <input type="text" name="order_filter" id="order_filter" class="form-control input-lg" placeholder="Filtrar Pedidos">
            <span class="input-group-btn">
                <button class="btn btn-success btn-lg" id="btn_order_filter">Filtro</button>
                <a href="/admin/orders/bystatus/" class="hidden-xs btn btn-info btn-lg orderFilterByStatus">Por estado</a>
                <a href="/admin/orders" class="hidden-xs btn btn-warning btn-lg"><i class="fa fa-times" aria-hidden="true"></i></a>
            </span>
        </div>
        <div class="orderFilter mt-5">
            <div class="text-warning top-pad-10 col-md-8">Los pedidos pueden ser filtrados por: apellido, email o código postal</div>
            <div class="col-md-4 no-pad-right">
                <div class="form-group">
                    <label for="orderStatusFilter" class="col-sm-2 control-label formLabel">Estado</label>
                    <div class="col-sm-10 no-pad-right">
                        <select class="form-control input-sm" id="orderStatusFilter">
                            <option>Completado</option>
                            <option>Pagado</option>
                            <option>Creado</option>
                            <option>Cancelado</option>
                            <option>Rechazado</option>
                            <option>Enviado</option>
                            <option>Pendiente</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 top-pad-10 mt-5">
        <ul class="list-group">
            <li class="list-group-item">
                {{#if searchTerm}}
                    <strong>Pedidos - <span class="text-danger">Término Filtrado: {{searchTerm}} </span></strong>
                {{else}}
                    <strong>Pedidos Recientes</strong>
                {{/if}}
            </li>
            {{#if orders}}
            {{#each orders}}
                <li class="list-group-item">
                    <h4 class="pull-right" style="padding-left: 10px;">
                        Estado: <span class="text-{{getStatusColor this.orderStatus}}">{{this.orderStatus}}</span>
                        <a class="text-danger" href="/admin/order/delete/{{this._id}}" onclick="return confirm('¿Está seguro que quiere borrar este pedido?');"> <i class="fa fa-trash-o"></i></a>
                    </h4>
                    <h5>
                        <a href="/admin/order/view/{{this._id}}">Ver Pedido</a> - <span class="text-info">Fecha: </span>{{formatDate this.orderDate "DD/MM/YYYY hh:mm"}} | <span class="text-info">Email:</span> {{this.orderEmail}} | <span class="text-info">Apellidos:</span> {{this.orderLastname}}
                    </h5>
                </li>
            {{/each}}
            {{else}}
                <li class="list-group-item">
                    <h4 class="text-center">
                        No se encontraron pedidos
                    </h4>
                </li>
            {{/if}}
        </ul>
    </div>
</div>